
body{
  width: 100%;
  height: auto;
  overflow:hidden;

}
.content-wrapper{
width:100%;
margin:20px 20px 10px 20px;

}
.content-wrapper img{  
  width:95%;
 
}

.text-wrapper{
  position: relative;
  width:100%;
  margin-top: -40%;
}
.text-wrapper h3{
  text-align: center;
  text-shadow: 2px 1px 1px brown ;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 letter-spacing: 1.15px;
 font-size:x-large;
 margin-top: 15%;
 
  }

h3:hover{
  color:grey;  
}
