body {
    font-style: oblique;
    min-height: 100px;
}

/*.recipedetails{
    margin-top:24px;
    display: grid;
    grid-template-columns: 230 px 230 px;
    align-items: baseline;
}*/

.searchform {
    min-height: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.searchbar {
    width:40%;
   padding:10px;
    border: none;
    color: grey;
}

.searchbutton {
    background: rgb(162, 198, 204);
    padding: 5px 5px;
    color: black;
}

.recipes{
    /*display: flex;
    justify-content: auto;
    flex-wrap: wrap;
    border-radius: 30%;
    padding: 5px 5px;
    margin: 20px;
    align-self: center;*/
}