.containerG{
  width: 100%;
  height: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0, 0, 0, 0.7)), url(../../shared//images//backgroundImag.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}
 h3{
  color: rgb(0, 0, 0);
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px brown;
    margin-top: 0px;
     
 }
 .Pic1{
    background-image: url(../../shared/images/Pic1.jfif);
  }
    .Pic2{
    background-image: url(../../shared/images/Pic2.jpg);
  }
  .Pic3{
    background-image: url(../../shared/images/Pic3.jpg);
  }
  .Pic5{
    background-image: url(../../shared/images/Pic5.jpg);
  }  
  
  .Pic6{
    background-image: url(../../shared/images/Pic6.jpg);
  }
  
  .Pic7{
    background-image: url(../../shared/images/Pic7.jpg);
  }
  .Pic8{
    background-image: url(../../shared/images/Pic8.jpg);
  }


  .picture{
    width:180px;
    height: 150px;
    display: inline-block;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px aqua;
    margin: 10px 15px ; 
    background-position: left;       
  }
  image
  {
    flex-basis: 60%;
  }
  
