.recipes{
     background-color: #ffffff;
    background-image: linear-gradient(315deg, #f6f6f6 0%, #f6f5f5 74%);
     
     display: grid;
     grid-template-columns: repeat(0, 1fr);
     
}
.search-btn{
    grid-column-start: 3;
    grid-column-end: 6;  
    grid-row-start: 1;
    grid-row-end: 2;  
}
.item1{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.item2{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
  }