.search-container { 
    display: grid;     
    /* background-color: rgb(34, 29, 26); */
    
 }
 .txt-field{
    display: grid;
}
 .recipe{
    display: inline-grid;   
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    /* grid-row-gap: 2px;  */
} 
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
   
    /* background-color: black; */
}
.css-sqs87j-MuiInputBase-root-MuiOutlinedInput-root{
   margin-top: 2px;
}
/*.item3{
    grid-column: 3/4;
    grid-row: 1/2;
} */

