/*
TODO:
-fix search feild color (on cklick)
-fix pic size
-fix card header (hover)
-fix avatar image

*/
.css-et1ao3-MuiTypography-root:hover{
   color: black;
}
.css-83ijpv-MuiTypography-root:hover{
    color: black;   
}
.MuiCardHeader-title{
    /* background-color: rgb(169, 202, 136); */
}

