.recipe{
    display: inline-grid;   
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    /* grid-row-gap: 2px;  */
} 
.css-et1ao3-MuiTypography-root:hover{
   color: black;
}
.css-83ijpv-MuiTypography-root:hover{
    color: black;   
}
.MuiCardHeader-title{
    /* background-color: rgb(169, 202, 136); */
}

