.NavigationBarWrapper {
    display: grid;
    background-color: #83AF5A;
    box-shadow: rgb(124, 124, 124) 0px 6px 6px;
    display: grid;
    grid-template: auto / auto;
    grid-template-columns: repeat(10, 1fr);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.LogoType {
    width: 80px;
}

.LogoType, .aboutButton, .contactButton {
    align-self: center;
    cursor: pointer;
    margin: 2vw;
}

.aboutButton:hover, .contactButton:hover {
    font-size: 130%;
  }

  span:hover {
      color: white;
  }