.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(162, 198, 204);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }