.img1,
.img2,
.img3 {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  padding: 5px;
  width: 29.33%;
}
h3,
h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  line-height: 1.8;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 25px #83af5ab7;
  font-weight: bold;
  margin: +5% 10px;
  font-size: 15px;
}
h3 {
  font-size: 32px;
}
.div1 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}
.div2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.div3 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}
.h44 {
  color: #627c4a;
}
.jump-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  color: black;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
