.div {
  display: flex;
  align-items: center;
}
.aboutimg {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  padding: 5px;
  width: 30%;
  margin-left: auto;
  height: auto;
}
h3,
.h {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  line-height: 1.8;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 25px #83af5ab7;
  font-weight: bold;
  margin: +5% 10px;
}
h3 {
  font-size: 3.9vw;
  line-height: 2;
}
.h1 {
  font-size: 2.3vmin;
  text-align: center;
  color: #627c4a;
}
.h {
  font-size: 2.3vmin;
  text-align: center;
}
.button{
  width:180px;
  color: rgb(84, 31, 146);
  font-size: 15px;
  padding: 12px 0;
  background: #83af5ae5;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
  transition: transform 0.4s;
  cursor: pointer;
}
.button:hover{
  transform: translateY(-10px);
}