.navbar-mobile-wrapper {
    width: 100%;
  }

  .navbar-mobile-logo {
    background-color: #83AF5A;
    box-shadow: rgb(124, 124, 124) 0px 6px 6px;
    display: grid;
    grid-template: auto / auto;
  }
  
  .navbar-mobile-logo img {
    width: 15vw;
    grid-column: 1;
    margin: 2vw;
  }
  .navbar-mobile-burger-icon {
    color: #fff;
    font-size: 3rem;
    grid-column: 5;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    font-size: 10vw;
    z-index: 500;
  }
